pyrogram
tgcrypto
requests
pyromod
yt-dlp
ffmpeg
aiohttp
aiofiles
asyncio
pycurl
humanize

cryptg
telethon
python-decouple
ntplib








wget

hachoir
bs4
httpx[http2]
img2pdf
tglogging
ushlex
pytz 
datetime

urllib3

six
